<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>IPTV BR CAC</name>
    <description>
        Consulta els mapes de cobertures de les televisions IP així com ràdios i televisions.
    </description>
    <author email="cmb.cac@gmail.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <platform name="android">
        <icon density="ldpi" src="icons/ios/57_IP.png" />
        <icon density="mdpi" src="icons/ios/72_IP.png" />
        <icon density="hdpi" height="76" src="icons/ios/76_IP.png" width="76" />
        <icon density="xhdpi" height="114" src="icons/ios/114_IP.png" width="114" />
        <icon density="xxhdpi" height="120" src="icons/ios/144_IP.png" width="120" />
        <icon density="xxxhdpi" height="152" src="icons/ios/152_IP.png" width="152" />
        <splash density="land-ldpi" src="/ios/logo-CACv.png" />
        <splash density="land-mdpi" src="/ios/logo-CACv.png" />
        <splash density="land-hdpi" src="/ios/logo-CACv.png" />
        <splash density="land-xhdpi" src="/ios/logo-CACv.png" />
        <splash density="land-xxhdpi" src="/ios/logo-CACv.png" />
        <splash density="land-xxxhdpi" src="/ios/logo-CACv.png" />
        <splash density="port-ldpi" src="/ios/logo-CACv.png" />
        <splash density="port-mdpi" src="/ios/logo-CACv.png" />
        <splash density="port-hdpi" src="/ios/logo-CACv.png" />
        <splash density="port-xhdpi" src="/ios/logo-CACv.png" />
        <splash density="port-xxhdpi" src="/ios/logo-CACv.png" />
        <splash density="port-xxxhdpi" src="/ios/logo-CACv.png" />
    </platform>
    <platform name="ios">
        <icon height="57" platform="ios" src="icons/ios/57_IP.png" width="57" />
        <icon height="72" platform="ios" src="icons/ios/72_IP.png" width="72" />
        <icon height="76" platform="ios" src="icons/ios/76_IP.png" width="76" />
        <icon height="114" platform="ios" src="icons/ios/114_IP.png" width="114" />
        <icon height="120" platform="ios" src="icons/ios/120_IP.png" width="120" />
        <icon height="144" platform="ios" src="icons/ios/144_IP.png" width="144" />
        <icon height="152" platform="ios" src="icons/ios/152_IP.png" width="152" />
        <icon height="152" platform="ios" src="icons/ios/152_IP.png" width="152" />
    </platform>
    <engine name="android" spec="~6.3.0" />
    <plugin name="cordova-plugin-battery-status" spec="~1.1.1" />
    <plugin name="cordova-plugin-camera" spec="~2.1.1" />
    <plugin name="cordova-plugin-media-capture" spec="~1.2.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.2" />
    <plugin name="cordova-plugin-contacts" spec="~2.0.1" />
    <plugin name="cordova-plugin-device" spec="~1.1.1" />
    <plugin name="cordova-plugin-device-motion" spec="~1.2.0" />
    <plugin name="cordova-plugin-device-orientation" spec="~1.0.2" />
    <plugin name="cordova-plugin-dialogs" spec="~1.2.0" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.5.0" />
    <plugin name="cordova-plugin-geolocation" spec="~2.1.0" />
    <plugin name="cordova-plugin-globalization" spec="~1.0.3" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.3.0" />
    <plugin name="cordova-plugin-media" spec="~2.2.0" />
    <plugin name="cordova-plugin-network-information" spec="~1.2.0" />
    <plugin name="cordova-plugin-splashscreen" spec="~3.2.1" />
    <plugin name="cordova-plugin-statusbar" spec="~2.1.2" />
    <plugin name="cordova-plugin-vibration" spec="~2.1.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.1" />
</widget>
