html{
	height:100%;
}

body {
  margin: 0;
  background: #eaf4ff;
  color: #353d46;
  font: 18px/27px, sans-serif;
}

h1, h2, h3 {
  color: #FF6B6B;
  margin: 0 0 13px;
  text-align: center;
}
h1{
	min-width: 294px;
}



/*per treure els links i la decoració i tot*/
a {
	text-decoration: none;
}
a:link, a:visited {
    color: #FF6B6B;
}
a:hover {
    color: red;
}

/*menu esquerra*/
nav#slide-menu {
  position: fixed;
  top: 0;
  left: -100px;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  max-width: 150px;
  height: 20%;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
nav#slide-menu > ul {
  display: block;
  margin: 40px;
  padding: 0;
  list-style: none;
  opacity: 0.5;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
nav#slide-menu > ul li {
  color: #dfe5eb;
  padding: 6px 0;
  cursor: pointer;
}
nav#slide-menu > ul li:hover {
  color: #59e9df;
}
nav#slide-menu > ul li:before {

  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  color: #59e9df;
  margin-right: 12px;
  text-align: center;
  font-variant: normal;
  font-size: 0.75em;
  text-transform: none;
  line-height: 1em;
}

/*desplaça mapa quan s'ha clicat a la fletxa (menu-active)*/
body.menu-active nav#slide-menu {
  left: 0px;
}
body.menu-active nav#slide-menu ul {
  left: 0px;
  opacity: 1;
}


/*col·loca els botons per triar entre tv-fm i iptv*/
div#content-mapes div.capsaBotons{
	position: absolute;
	top:13px;
	right: 100px;
    width: 80px;
	
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
body.menu-active div#content-mapes div.capsaBotons {
    right: -120px;
}

/*la fletxa per mostrar el menu*/

div#content-mapes div.menu-trigger {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 36px;
  height: 36px;
  background: #dfe5eb;
  cursor: pointer;
  border-radius: 5px;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
div#content-mapes div.menu-trigger:before {
  content: '\27A4';
  display: inline-block;
  width: 36px;
  height: 36px;
  color: black;
  font-style: normal;
  font-size: 1.2em;
  font-weight: normal;
  font-variant: normal;
  text-align: center;
  text-transform: none;
  line-height: 36px;
}
div#content-mapes div.menu-trigger:hover {
  background: #556270;
}
div#content-mapes div.menu-trigger:hover:before {
  color: #fcfeff;
}

/* on hi va el trigger, titol, per triar tvfm i iptv i el mapa*/ /*on col·locar el mapa*/
div#content-mapes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 12px;
  padding-left:0px;
  padding-right:0px;
  background: #fcfeff;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: -3px 0 6px #4a5562;
  -webkit-box-shadow: -3px 0 6px #4a5562;
  box-shadow: -3px 0 6px #4a5562;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
#main{
	height:100%;
	width:100%;
}


/*desplaçar el mapa i tot quan el neu està actiu*/
body.menu-active div#content-mapes {
  left: 140px;
  border-radius: 7px 0 0 7px;
}
body.menu-active div#content-mapes .menu-trigger {
  left: 150px;
}

.gm-style-iw{
	max-width: 250px;
}
@media screen and (max-width:319px){
  h1{
	  font-size:    1em;
  }
 div#content-mapes div.capsaBotons {
	  left: 240px;
	  top: 8px;
	  font-size: 0.6em;
	  
  }

}

@media screen and (min-width:320px) and (max-width:469px){/*  */
  h1{
	  font-size:    1.3em;
  }
  div#content-mapes div.capsaBotons {
	  right: -15px;
	  top: 8px;
	  font-size: 0.8em;
	  
  }

	
}

@media screen and (min-width: 470px) and (max-width:619px){
  h1{
	  font-size:    1.6em;
  }
  div#content-mapes div.capsaBotons {
	  right: -5px;
	  top: 8px;
	  font-size: 0.8em;
	  
  }
	
}

@media screen and (min-width: 620px) and (max-width:830px){/*  */

}
