html,body {/*  */
  width:100%;
  height:100%;
  margin: 0px;
  padding:0px;
  min-width:320px;
  min-height:568px;
}


body {
  margin: 0;
  font: 18px/27px, sans-serif;
}

h1, h2, h3 {
  color: #FF6B6B;
  margin: 0 0 13px;
  text-align: center;
}

h1{
	"position: relative;
	left: 35%;    
	font-size: 2em;
    font-weight: bold;
	color: #FF6B6B;
}

a {
	text-decoration: none;
}
a:link, a:visited {
    color: #FF6B6B;
}
a:hover {
    color: red;
}





/*MENU                      ----------*/
nav#slide-menu {
	background-color: #f9dfdf; 
	position:absolute;
	height:100%; 
	width:0px;  
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;

}

/*
nav#slide-menu > ul {
  display: block;
  margin: 40px;
  padding: 0;
  list-style: none;
  opacity: 0.5;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
nav#slide-menu > ul li {
  color: #dfe5eb;
  padding: 6px 0;
  cursor: pointer;
}
*/
nav#slide-menu > ul li:hover {
  color: #59e9df;
}
nav#slide-menu > ul li:before {

  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  color: #59e9df;
  margin-right: 12px;
  text-align: center;
  font-variant: normal;
  font-size: 0.75em;
  text-transform: none;
  line-height: 1em;
}



/*BODY ACTIVE*/


body.menu-active nav#slide-menu {
  left: 0px;
}

body.menu-active nav#slide-menu ul {
  left: 0px;
  opacity: 1;
}

/* ESCOLLIDOR --------------------------------*/



div.capsaBotons{
	position: absolute;
	top:13px;
	right: 100px;
    width: 80px;

	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
a.boto{
	display:inline-block;
	width:inherit;
	margin:2px;
	padding-left:15px;
}
body.menu-active div#content-mapes div.capsaBotons {
    right: -120px;
}

/*ACTIVEEEE  ------------------------------*/


body.menu-active div#content {
  left: 140px;
  border-radius: 7px 0 0 7px;
}

body.menu-active div#content .menu-trigger {
  left: 150px;
}

























/*MAPA                        -----------------------------------------*/

#main{
	height:100%;
	width:100%-60px;
	top:60px;
	position:fixed;
}

div#content-mapes {
	position: relative;
	height:100%;
	width:100%;  
	-moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;




  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: -3px 0 6px #4a5562;
  -webkit-box-shadow: -3px 0 6px #4a5562;
  box-shadow: -3px 0 6px #4a5562;

}

div#content-mapes div.menu-trigger {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 36px;
  height: 36px;
  background: #dfe5eb;
  cursor: pointer;
  border-radius: 5px;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
div#content-mapes div.menu-trigger:before {
  content: '\27A4';
  display: inline-block;
  width: 36px;
  height: 36px;
  color: black;
  font-style: normal;
  font-size: 1.2em;
  font-weight: normal;
  font-variant: normal;
  text-align: center;
  text-transform: none;
  line-height: 36px;
}
div#content-mapes div.menu-trigger:hover {
  background: #556270;
}
div#content-mapes div.menu-trigger:hover:before {
  color: #fcfeff;
}

body.menu-active div#content-mapes {
  left: 140px;
  border-radius: 7px 0 0 7px;
}

body.menu-active div#content-mapes .menu-trigger {
  left: 150px;
}